---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "My Astro Learning Page";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    <li><a href="/posts/post1/">Post 1</a></li>
    <li><a href="/posts/post2/">Post 2</a></li>
    <li><a href="/posts/post3/">Post 3</a></li>
  </ul>
</BaseLayout>
